.tt-14 {
  font-size: 14px;
}

.tt-12 {
  font-size: 12px;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-justify {
  text-align: justify;
}

.t-uppercase {
  text-transform: uppercase;
}

.t-capitalize {
  text-transform: capitalize;
}

.f-italic {
  font-style: italic;
}

.f-bold {
  font-weight: bold;
}

.f-medium {
  font-weight: 500;
}

.f-light {
  font-weight: 300;
}

.f-normal {
  font-weight: normal;
}

.--mr-0 {
  margin-right: 0 !important;
}

.--ml-0 {
  margin-left: 0 !important;
}

.--m-0 {
  margin: 0 !important;
}

.--mb-0 {
  margin-bottom: 0px !important;
}

.--mb-5 {
  margin-bottom: 5px !important;
}

.--mb-10 {
  margin-bottom: 10px !important;
}

.--mb-15 {
  margin-bottom: 15px !important;
}

.--mb-20 {
  margin-bottom: 20px !important;
}

.--mb-25 {
  margin-bottom: 25px !important;
}

.--mb-30 {
  margin-bottom: 30px !important;
}

.--mt-0 {
  margin-top: 0px !important;
}

.--mt-5 {
  margin-top: 5px !important;
}

.--mt-10 {
  margin-top: 10px !important;
}

.--mt-15 {
  margin-top: 15px !important;
}

.--mt-20 {
  margin-top: 20px !important;
}

.--mt-25 {
  margin-top: 25px !important;
}

.--mt-30 {
  margin-top: 30px !important;
}

.sec-100 {
  padding: 100px 0;
}
.sec-100.--pt-0 {
  padding-top: 0;
}
.sec-100.--pb-0 {
  padding-bottom: 0;
}

.sec-90 {
  padding: 90px 0;
}
.sec-90.--pt-0 {
  padding-top: 0;
}
.sec-90.--pb-0 {
  padding-bottom: 0;
}

.sec-80 {
  padding: 80px 0;
}
.sec-80.--pt-0 {
  padding-top: 0;
}
.sec-80.--pb-0 {
  padding-bottom: 0;
}

.sec-70 {
  padding: 70px 0;
}
.sec-70.--pt-0 {
  padding-top: 0;
}
.sec-70.--pb-0 {
  padding-bottom: 0;
}

.sec-60 {
  padding: 60px 0;
}
.sec-60.--pt-0 {
  padding-top: 0;
}
.sec-60.--pb-0 {
  padding-bottom: 0;
}

.sec-50 {
  padding: 50px 0;
}
.sec-50.--pt-0 {
  padding-top: 0;
}
.sec-50.--pb-0 {
  padding-bottom: 0;
}

.sec-40 {
  padding: 40px 0;
}
.sec-40.--pt-0 {
  padding-top: 0;
}
.sec-40.--pb-0 {
  padding-bottom: 0;
}

.sec-30 {
  padding: 30px 0;
}
.sec-30.--pt-0 {
  padding-top: 0;
}
.sec-30.--pb-0 {
  padding-bottom: 0;
}

.sec-20 {
  padding: 20px 0;
}
.sec-20.--pt-0 {
  padding-top: 0;
}
.sec-20.--pb-0 {
  padding-bottom: 0;
}

.sec-10 {
  padding: 10px 0;
}
.sec-10.--pt-0 {
  padding-top: 0;
}
.sec-10.--pb-0 {
  padding-bottom: 0;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border: none;
  width: 100%;
  line-height: 20px;
  background-color: transparent;
  transition: all 0.3s ease;
  padding: 10px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  z-index: 0;
  outline: 0px;
}
.btn:disabled, .btn:disabled:hover {
  cursor: not-allowed;
  color: initial;
}
.btn:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

.hamburger-btn {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: none;
  z-index: 99;
}
.hamburger-btn .bar {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: wheat;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hamburger-btn .bar::before, .hamburger-btn .bar::after {
  content: "";
  width: 30px;
  height: 3px;
  position: absolute;
  left: 0;
  border-radius: 2px;
  background-color: wheat;
  transition: all 0.3s ease;
}
.hamburger-btn .bar::before {
  top: -8px;
}
.hamburger-btn .bar::after {
  top: 8px;
}
.hamburger-btn.--active .bar {
  background-color: transparent;
}
.hamburger-btn.--active .bar::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger-btn.--active .bar::after {
  top: 0;
  transform: rotate(135deg);
}

.scroll-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: wheat;
  border: 1px wheat solid;
  border-radius: 4px;
  cursor: pointer;
  z-index: 98;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.scroll-top.--active {
  opacity: 1;
  visibility: visible;
}
.scroll-top img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0) invert(1);
}
.scroll-top:hover {
  opacity: 0.8;
}

#page-loading {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
}
#page-loading img {
  animation: waveLoading 3s ease-out infinite backwards;
}

.pagination {
  margin-top: 30px;
  text-align: center;
}
.pagination ul {
  display: flex;
  align-items: center;
}
.pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.pagination li.active a {
  cursor: default;
  background-color: wheat;
  color: #fff;
}
.pagination li.disabled {
  display: none;
}
.pagination li a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid gray;
  font-weight: bold;
  transition: all 0.3 ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination li a:hover {
  background-color: wheat;
  color: #fff;
  border: 1px solid wheat;
}

.search-form {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}
.search-form .f-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 44px;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 16px;
  color: wheat;
  cursor: pointer;
}

.search-desktop {
  position: relative;
}
.search-desktop .search-title {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-desktop .search-form {
  position: absolute;
  top: 40px;
  right: 0;
  width: 220px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  animation: fade-out-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.search-desktop .f-control {
  border-radius: 0;
  line-height: 20px;
  height: auto;
  padding: 8px 38px 8px 15px;
}
.search-desktop .f-submit {
  width: 38px;
  height: 38px;
}
.search-desktop.active .search-form {
  opacity: 1;
  visibility: visible;
  animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.search-mobile {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.search-mobile .search-form {
  width: 50%;
  background-color: transparent;
  margin: 0 auto;
}
.search-mobile .f-control {
  background-color: transparent;
  border: none;
  border-bottom: 2px rgba(255, 255, 255, 0.5) solid;
  border-radius: 0;
  padding: 20px 38px 20px 2px;
  font-size: 24px;
  height: auto;
  color: #fff;
  font-weight: normal;
}
.search-mobile .f-submit {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 20px;
  color: #fff;
  width: 42px;
  height: 42px;
}
.search-mobile-close {
  position: absolute;
  top: 30px;
  right: 15px;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
.search-mobile.--active {
  opacity: 1;
  visibility: visible;
}

.breadcrumb {
  width: 100%;
}
.breadcrumb .breadcrumb-menu {
  display: flex;
  border-bottom: 1px solid wheat;
  padding: 10px 0;
}
.breadcrumb .breadcrumb-menu .breadcrumb-list:not(:first-child) {
  padding-left: 12px;
}
.breadcrumb .breadcrumb-menu .breadcrumb-list:not(:first-child)::before {
  content: "\f111";
  font-family: "Fontawesome";
  font-size: 8px;
  color: red;
  padding-right: 8px;
}
.breadcrumb .breadcrumb-menu .breadcrumb-list.current {
  color: wheat;
}
.breadcrumb .breadcrumb-menu .breadcrumb-list a {
  font-size: 15px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.breadcrumb .breadcrumb-menu .breadcrumb-list a:hover {
  color: wheat;
}

.f-control {
  appearance: none;
  font: inherit;
  color: inherit;
  outline: none;
  border-radius: 5px;
  width: 100%;
  border: 1px solid red;
  background-color: #fff;
  color: #000;
  padding: 12px 15px;
  height: 44px;
}
.f-control::placeholder {
  color: gray;
}
.f-control:disabled {
  cursor: not-allowed;
}
.f-control:focus {
  outline: none;
}
.f-control.wpcf7-not-valid {
  border-color: #f00;
}

/*# sourceMappingURL=library.css.map */
