@import url(../js/libs/aos/aos.css);
@import url(../js/libs/slick/slick.css);
@import url(../js/libs/slick/slick-theme.css);
@import url(../css/base.css);
@import url(../css/library.css);
.main-cl {
  color: wheat;
}

/*=============================G L O B A L=============================*/
#wrapper {
  min-width: 1220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner-full {
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.cols {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.col {
  padding: 15px;
}

.img-w-100 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-h-100 img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.image-l {
  float: left;
  margin: 0 60px 20px 0;
}

.image-r {
  float: right;
  margin: 0 0 20px 60px;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.modal-open {
  overflow: hidden;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-overflow-scrolling: auto;
}

/*============================= H_E_A_D_E_R =============================*/
#header {
  background: #fff;
  padding: 25px 0;
  border-bottom: 1px solid black;
  width: 100%;
  transition: all 0.3s ease;
}
#header h1 {
  padding-bottom: 50px;
}

.header-main {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header-act {
  display: flex;
  align-items: center;
}

.header-menu .logo-mobile {
  display: none;
  max-width: 200px;
  margin: 0 auto 20px;
}
.header-menu .overplay {
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 98;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.menu-list {
  position: relative;
  display: flex;
  column-gap: 25px;
}
.menu-list a {
  position: relative;
  padding: 0 0 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  color: #1a2542;
  font-size: 14px;
}
.menu-list .--active a {
  color: #1a2542;
}
.menu-list .--active .--active > a {
  background-color: #1a2542;
  color: white;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown:hover > a {
  background-color: #1a2542;
  color: white;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 200px;
  width: max-content;
  font-size: 12px;
  background-color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.16);
}
.sub-menu .sub-menu {
  top: 0;
  left: 100%;
}
.sub-menu a {
  padding: 15px;
}

/*============================= F_O_O_T_E_R =============================*/
.footer {
  background-color: #fff;
  margin-top: auto;
}
.footer .logo {
  min-width: 170px;
  margin: auto;
}
.footer .test {
  width: 100%;
  height: 500px;
  background-color: wheat;
}

#footer {
  display: block;
  clear: both;
  text-align: left;
  margin-top: auto;
}
#footer address {
  padding: 14px 0;
  text-align: center;
  color: #92d4e1;
  background: #004870;
  font-size: 11px;
  letter-spacing: 0.005em;
}

/*============================= C_O_N_T_E_N_T =============================*/
.tabs .tab-content {
  font-size: 40px;
  text-align: center;
}

.text-aos {
  margin-top: 1000px;
  font-size: 30px;
  color: blue;
  position: relative;
  transition: all 0.3s ease;
  font-weight: bold;
  letter-spacing: 5px;
  color: #fff;
  color: red;
}
.text-aos::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: blueviolet;
  transition: all 1.2s ease;
  right: 0;
  left: unset;
}
.text-aos.aos-animate {
  color: red;
}
.text-aos.aos-animate::before {
  width: 0;
}
.text-aos2 {
  margin-top: 1000px;
}
.text-aos3 {
  margin-top: 1000px;
}

/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */
/*======================= WORDPRESS ADMIN LOGED IN ========================*/
.customize-support #header {
  margin-top: 32px;
}

@media screen and (max-width: 782px) {
  .customize-support #header {
    margin-top: 46px !important;
  }
}
@media screen and (max-width: 600px) {
  .customize-support #header {
    margin-top: 0px !important;
  }
}

/*# sourceMappingURL=styles.css.map */
