@import url(../css/base.css);
@import url(../css/library.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
/*=============================G L O B A L=============================*/
#wrapper {
  min-width: 1020px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container-full {
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
}

.cols {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.col {
  padding: 15px;
}

.img-w-100 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-h-100 img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.image-l {
  float: left;
  margin: 0 60px 20px 0;
}

.image-r {
  float: right;
  margin: 0 0 20px 60px;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.f-yu {
  font-family: "Yu Gothic";
}

.f-sef {
  font-family: "Noto Serif JP", serif;
}

@media screen and (max-width: 750px) {
  .no-scroll {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-overflow-scrolling: auto;
  }
}
/*============================= H_E_A_D_E_R =============================*/
#header {
  background: transparent;
  padding: 20px 0;
  width: 100%;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}
#header h1 {
  font-size: 12px;
  font-weight: 500;
}

/*============================= F_O_O_T_E_R =============================*/
.footer {
  background-color: #fff;
  margin-top: auto;
}
.footer .logo {
  min-width: 170px;
  margin: auto;
}
.footer .test {
  width: 100%;
  height: 500px;
  background-color: wheat;
}

#footer {
  display: block;
  clear: both;
  text-align: left;
  margin-top: auto;
}
#footer .copyright {
  padding: 21px 0 17px;
  text-align: center;
  background-color: rgba(4, 0, 0, 0.8);
  color: #fefefe;
  font-size: 16px;
  font-weight: 500;
}

/*============================= C_O_N_T_E_N_T =============================*/
.index-page .index-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 108px 0 55px;
}
.index-page .index-bg {
  position: relative;
  background: url("../images/bg-main.jpg") center no-repeat;
  width: 100%;
  height: 1920px;
}
.index-page .index-box {
  position: absolute;
  bottom: 11.5%;
  left: 40.4%;
  left: 50.34%;
  transform: translateX(-50%);
  background-color: #C30E23;
  width: 378px;
  height: 261px;
  border-radius: 10px;
  padding: 28px 20px 20px 28px;
}
.index-page .ix-title {
  margin-bottom: 10px;
}
.index-page .ix-title span {
  display: block;
  color: #FFFDE8;
  font-weight: bold;
}
.index-page .ix-title .ix-sm {
  font-size: 50px;
  margin-bottom: 14px;
}
.index-page .ix-title .ix-bg {
  font-size: 80px;
}
.index-page .index-link {
  background-color: #fffde8;
  width: 310px;
  height: 50px;
  max-width: 100%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
}

.btn-fix {
  position: fixed;
  bottom: -32px;
  right: 0;
  transition: all 0.3s ease;
}

.social {
  border: 5px solid #fff;
  border-radius: 12px 0px 0px 12px/9px;
  height: 310px;
  width: 110px;
  display: flex;
  align-items: center;
  padding-top: 39px;
  margin-right: -5px;
  position: relative;
  background-color: #fff;
  z-index: 0;
}
.social::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg-ins.jpg") center no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: -1;
}
.social a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.social .social-ic {
  margin-bottom: 24px;
}
.social .social-txt {
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.social .social-txt span {
  line-height: 1;
  letter-spacing: 2.5px;
}

/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */
/*======================= WORDPRESS ADMIN LOGED IN ========================*/
.customize-support #header {
  margin-top: 32px;
}

@media screen and (max-width: 782px) {
  .customize-support #header {
    margin-top: 46px !important;
  }
}
@media screen and (max-width: 600px) {
  .customize-support #header {
    margin-top: 0px !important;
  }
}

/*# sourceMappingURL=styles.css.map */
