// Core
@import "./core/variable";
@import "./core/mixins";

@include min-media(751px) {
    .sp {
        display: none !important;
    }

    [href^="tel"] {
        pointer-events: none;
    }

    .social {
        flex-direction: column;
        .social-txt {
            display: flex;
            flex-direction: row-reverse;
            span {
                writing-mode: vertical-rl;
                text-orientation: mixed;
            }
        }
    }

    .scroll-top {
        @include hidden;
    }

    .btn-fix {
        &.--show {
            bottom: 27px;
            .scroll-top {
                @include visible;
            }
        }
    }

    //  ========================== Headeer ==========================

    //  ========================== END - Headeer ==========================
}

/* end screen-min:751px */

@media screen and (min-width: 751px) and (max-width: 1500px) {
}

@include max-media(1900px) {
    .index-page {
        .index-box {
            left: 50.45%;
        }
    }
}

@include max-media(1279px) {
    .index-page {
        .index-box {
            left: 50.6%;
        }
    }
}

/* end screen-min:751px && screen-max:1500px */

@include max-media(750px) {
    // ========================== Base code ==========================

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd {
        font-size: 140%;
    }

    #wrapper {
        min-width: unset !important;
    }

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .pc {
        display: none !important;
    }

    // ========================== END Base code ==========================

    #header{
        padding: 24px 0;
        h1{
            font-weight: 500;
            font-size: 24px;
            letter-spacing: 0.75px;
        }
    }

    .index-page {
        .index-wrapper {
            justify-content: center;
            margin: 88px 0;
        }

        .index-bg {
            background: url("../images/bg-main-sp.jpg") center no-repeat;
            background-size: contain;
            // height: 3651px;
            height: 486.8vw;
        }

        .index-box {
            width: 58vw;
            height: 40.2vw;
            left: 50.4%;
            bottom: 29.4%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0;
        }

        .ix-title {
            margin-bottom: 1.4493vw;
            .ix-sm {
                font-size: 7.6vw;
                margin-bottom: 2.6666vw;
            }

            .ix-bg {
                font-size: 12.3vw;
            }
        }
        .index-link {
            width: 48vw;
            height: 7.2vh;
            font-size: 3.6vw;
        }

        .btn-link {
            &:first-child {
                margin-bottom: 44px;
            }

            img{
                height: auto;
            }
        }
    }

    .btn-fix {
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transition: all .4s ease;
        transform: translateY(100%);
        background-color: #fff;

        &.--show {
           transform: translateY(0);
        }
    }

    .social,
    .scroll-top {
        border: 7px solid #fff;
        border-radius: 0;
        height: 120px;
    }

    .social {
        width: calc(100% - 123px);
        padding: 0 15px 0 28px;
        transition: all 0.3s ease;

        &::before {
            content: "";
            background: url("../images/bg-ins-sp.jpg") center no-repeat;
            background-size: cover;
            border-radius: 0;
        }

        .social-ic {
            margin: 0 30px 0 0;
        }

        .social-txt{
            font-size: 6.67vw;
            span{
                letter-spacing: 1.5px;
            }
        }
    }

    .scroll-top {
        flex-shrink: 0;
        width: 120px;
        margin: 0;
        top: 0;
    }

    #footer {
        margin-bottom: 120px;
        .copyright {
            font-size: 30px;
            padding: 27px 0 31px;
        }
    }
}

/* end screen-max:750px */

@include max-media(640px) {
    #header{
        h1{
            font-size: 18px;
        }
    }
    .index-page {
        .index-link {
            height: 6vh;
        }
    }

    .social,
    .scroll-top {
        height: 80px;
        border-width: 3px;
    }

    .social {
        padding: 0 20px;
        width: calc(100% - 83px);
        .social-ic {
            margin-right: 0;
            img {
                width: 50px;
            }
        }

        .social-txt{
            text-align: center;
            width: 100%;
        }
    }

    .scroll-top {
        width: 80px;
        img {
            width: 37px;
        }
    }

    #footer {
        margin-bottom: 80px;

        .copyright {
            font-size: 16px;
            padding: 19px 0;
        }
    }
}

/* end screen-max:640px */

@include max-media(560px) {
   
    .index-page {
        .index-link {
            height: 5vh;
        }
    }
}

/* end screen-max:560px */

@include max-media(520px) {
    .index-page {
        .btn-link{
            &:first-child{
                margin-bottom: 30px;
            }
        }
    }
}

/* end screen-max:520px */

@include max-media(475px) {
    .index-page {
        .index-wrapper{
            margin: 50px 0;
        }

        .index-link {
            height: 4.5vh;

        }

        .index-box {
            border-radius: 5px;
        }
    }

    .social,
    .scroll-top {
        height: 60px;
        border-width: 2px;
    }

    .social {
        padding: 0 15px;
        width: calc(100% - 62px);
        .social-ic {
            img {
                width: 38px;
            }
        }

        .social-txt{
            span{
                letter-spacing: 0;
            }
        }
    }

    .scroll-top {
        width: 60px;
        img {
            width: 30px;
        }
    }

    #footer {
        margin-bottom: 60px;
    }
}

/* end screen-max:475px */

@include max-media(425px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd {
        font-size: 140%;
    }

    #header{
        h1{
            font-size: 14px;
        }
    }

    .index-page {
        .index-link {
            height: 4vh;
        }
    }
}

/* end screen-max:425px */

@include max-media(375px) {
    .index-page {
        .index-link {
            height: 3.5vh;
            font-size: 12px;
        }
    }
    .social{
        padding: 0 10px;
    }
}

/* end screen-max:375px */

@include max-media(320px) {
}

/* end screen-max:320px */

/*============================= HACK CSS =============================*/

/* IE */
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* EGDE */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
    // @media {
    // }
}
