// Core
@import "./core/variable";
@import "./core/mixins";

/*============================= G L O B A L =============================*/
.wp-pagenavi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 43px;
}

.wp-pagenavi span,
.wp-pagenavi a {
    display: inline-flex;
    min-width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    font-size: 16px;
    color: #fff;
    line-height: 1em;
    padding: 3px 5px 5px;
    background: #b5b5b5;
    text-decoration: none;
    margin: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: none;
}

.wp-pagenavi span.current {
    background: #544638;
}

.wp-pagenavi a.previouspostslink,
.wp-pagenavi a.nextpostslink {
    font-size: 26px;
    color: #56493b;
    padding-bottom: 10px;
}

.wp-pagenavi a.nextpostslink {
    padding-right: 4px;
}

.w {
    &30 {
        width: 30%;
    }
    &33 {
        width: calc(100% / 3);
    }
    &50 {
        width: 50%;
    }
    &100 {
        width: 100%;
    }
}

.under {
    h2 {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        padding: 50px 0;
    }

    h3 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    h5 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    h6 {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

#content {
    padding: 50px 0 100px;
    p,
    table {
        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        margin-bottom: 15px;
    }
}

.section {
    margin-bottom: 80px;
    &:last-child {
        margin-bottom: 0;
    }
}

.under-tbl {
    th {
        background-color: #8cdcf0;
        color: #333;
    }
    td,
    th {
        border-color: #505050;
        vertical-align: top;
        padding: 10px;
    }

    &.tbl-center {
        td,
        th {
            vertical-align: middle;
        }
    }
}

.under-frame{
    background-color: rgba($color: #8cdcf0, $alpha: .4);
    padding: 40px;
    border-radius: 10px;
    // border: 1px black dashed;
    box-shadow: 0 0 10px  black;
    .frm-tt{
        text-align: center;
        margin-bottom: 40px;
    }
}

.under-list {
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    li {
        padding-left: 12px;
        position: relative;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "";
            border-left: solid 6px #dd1616;
            border-top: solid 4px transparent;
            border-bottom: solid 4px transparent;
            position: absolute;
            left: 0;
            top: 6px;
        }
    }
}

.qa-list {
    dl {
        margin-bottom: 30px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.16);
        padding: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    dt {
        min-height: 60px;
        padding-left: 60px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 1px #000 dashed;
        .qa-kt {
            top: 5px;
        }
    }

    .qa-kt {
        position: absolute;
        width: 40px;
        height: 40px;
        line-height: 38px;
        text-align: center;
        // @include flex-mid;
        background-color: orange;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    dd {
        position: relative;
        padding-left: 60px;
        min-height: 40px;
        .qa-kt {
            top: 0;
        }
    }
}

.under-step{
    dl{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    dt{
        background-color: #8cdcf0;
        padding: 10px 20px;
    }

    .step-num{
        background-color: #333;
        padding: 5px 15px;
        color: $w-cl;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 10px;
    }

    dd{
        border: 1px solid #8cdcf0;
        border-top: none;
        background-color: rgba($color: #8cdcf0, $alpha: .3);
        padding: 15px 20px;
    }
}

/*============================= PAGE UNDER =============================*/
// @import './page/about';

/*============================= HACK CSS =============================*/

/* IE */
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* EGDE */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
    // @media {}
}
