// MIXINS
@mixin max-media($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin min-media($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

//scroll-base
@mixin custom-scrollbar ($width: $w-scroll,
    $thumb: $main-cl,
    $track: transparent) {
    &::-webkit-scrollbar {
        width: $width;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumb;
        border-radius: 990px;
    }

    &::-webkit-scrollbar-track {
        background: $track;
    }
}

@mixin custom-vertical-scrollbar($width: $w-scroll,
    $thumb: $main-cl,
    $track: $w-cl) {
    &::-webkit-scrollbar {
        width: $width;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumb;
        border-radius: 990px;
    }

    &::-webkit-scrollbar-track {
        background: $track;
    }
}

@mixin custom-horizontal-scrollbar($height: $h-scroll,
    $thumb: $main-cl,
    $track: $w-cl) {
    &::-webkit-scrollbar {
        height: $height;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumb;
        border-radius: 990px;
    }

    &::-webkit-scrollbar-track {
        background: $track;
    }
}

@mixin pos-mid() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin pos-full() {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@mixin pos-full-fixed() {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@mixin flex-mid() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin hidden() {
    opacity: 0;
    visibility: hidden;
}

@mixin visible() {
    opacity: 1;
    visibility: visible;
}

@mixin line-clamp($args) {
    display: -webkit-box;
    -webkit-line-clamp: $args;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin lh($lh, $fz) {
    line-height: ($lh / $fz);
}


//font size
