// Colors
$main-cl: wheat;
$b-cl: #000;
$w-cl: #fff;

// Font
$fz-cl:#040000;
$fz-base: 10px;
$fz-body: 14px;
$lh-body: 1.4;
$font-body: "Yu Gothic";

// Base
$max-width:100%;
$inner-full-width: 1920px;
$inner-width: 980px;
$padding: 15px;

