#content p:last-child,
#content table:last-child {
    margin-bottom: 0;
}

.section:last-child {
    padding: 0;
}

.wp-pagenavi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 43px;
}

.wp-pagenavi span,
.wp-pagenavi a {
    display: inline-flex;
    min-width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    font-size: 16px;
    color: #fff;
    line-height: 1em;
    padding: 3px 5px 5px;
    background: #b5b5b5;
    text-decoration: none;
    margin: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: none;
}

.wp-pagenavi span.current {
    background: #544638;
}

.wp-pagenavi a.previouspostslink,
.wp-pagenavi a.nextpostslink {
    font-size: 26px;
    color: #56493b;
    padding-bottom: 10px;
}

.wp-pagenavi a.nextpostslink {
    padding-right: 4px;
}

/*============================= C_O_N_T_E_N_T =============================*/

#content {
    padding: 50px 0 100px;
}

#topic_path {
    padding: 15px 0;
    background: #fff;

    .topic-ul {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        li {
            font-size: 14px;
        }
    }
}

table {
    margin-bottom: 3rem;

    &:last-child {
        margin-bottom: 0;
    }

    td,
    th {
        border: solid 1px transparent;
        padding: 1em 1em;
        line-height: 1.6em;
    }
    th {
        color: #fff;
        font-weight: 500;
        background: #0a2d54;
    }

    td {
        background: #fff;
        vertical-align: top;
        padding-left: 2em;
        padding-right: 2em;
        border-color: #f3f3f3;
    }
}

.primary-list {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    li {
        padding-left: 12px;
        position: relative;
        margin-bottom: 0.6em;
        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "";
            border-left: solid 6px #dd1616;
            border-top: solid 4px transparent;
            border-bottom: solid 4px transparent;
            position: absolute;
            left: 0;
            top: 0.45em;
        }
    }
}

h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 50px 0;
}

h3 {
    font-size: 32px;
    margin-bottom: 1em;
}

h4 {
    font-size: 26px;
    margin-bottom: 1em;
}

h5 {
    font-size: 22px;
    margin-bottom: 1em;
}

h6 {
    font-size: 18px;
    margin-bottom: 1em;
}

/*============================= HACK CSS =============================*/

/* IE */
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* EGDE */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
    // @media {}
}
