.index-page {

    .index-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:  108px 0 55px;
    }

    .index-bg {
        position: relative;
        background: url("../images/bg-main.jpg") center no-repeat;
        width: 100%;
        height: 1920px;
    }

    .index-box {
        position: absolute;
        bottom: 11.5%;
        left: 40.4%;
        left: 50.34%;
        transform: translateX(-50%);
        background-color: #C30E23;
        width: 378px;
        height: 261px;
        border-radius: 10px;

        padding: 28px 20px 20px 28px;
    }

    .ix-title {
        margin-bottom: 10px;
        span{
            display: block;
            color: #FFFDE8;
            font-weight: bold;
        }
        .ix-sm{
            font-size: 50px;
            margin-bottom: 14px;
        }

        .ix-bg{
            font-size: 80px;
        }
    }

    .index-link {
        background-color: #fffde8;
        width: 310px;
        height: 50px;
        max-width: 100%;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -1px;
    }
}

.btn-fix {
    position: fixed;
    bottom: -32px;
    right: 0;
    transition: all 0.3s ease;
}

.social {
    border: 5px solid #fff;
    border-radius: 10px;
    height: 310px;
    width: 110px;
    display: flex;
    align-items: center;
    padding-top: 44px;
    margin-right: -5px;
    position: relative;
    background-color: #fff;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            0deg,
            #fccc63 0%,
            #fbad50 13%,
            #e95950 31%,
            #cd486b 50%,
            #bc2a8d 66%,
            #8a3ab9 87%,
            #4c68d7 100%
        );
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: -1;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .social-ic {
        margin-bottom: 24px;
    }
    .social-txt {
        color: #fff;
        font-weight: bold;
        font-size: 30px;

        span {
            line-height: 1;
        }
    }
}
