.scroll-top {
    position: relative;
    top: 10px;
    right: 0;
    // width: 103px;
    // height: 93px;
    // background-color: rgba($color: #040000, $alpha: 0.8);
    // border: 3px #fff solid;
    // border-right: 0;
    // border-radius: 3px;
    cursor: pointer;
    z-index: 98;
    overflow: hidden;
    display: none;
 
    img {
        // @include pos-mid;
        // filter: brightness(0) invert(1);
    }

    &:hover {
        //  background-color: #040000;
        opacity: .8;
    }
}
