.btn {
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    border: none;
    //height: 40px;
    width: 100%;
    line-height: 20px;
    background-color: transparent;
    transition: all 0.3s ease;
    padding: 10px 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 0;
    outline: 0px;

    &:disabled,
    &:disabled:hover {
        cursor: not-allowed;
        color: initial;
    }

    &:hover {
        box-shadow: 10px 10px 20px rgba($color: $b-cl, $alpha: 0.16);
    }
}

.hamburger-btn {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 99;

    .bar {
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $main-cl;
        border-radius: 2px;
        transition: all 0.3s ease;

        &::before,
        &::after {
            content: "";
            width: 30px;
            height: 3px;
            position: absolute;
            left: 0;
            border-radius: 2px;
            background-color: $main-cl;
            transition: all 0.3s ease;
        }

        &::before {
            top: -8px;
        }

        &::after {
            top: 8px;
        }
    }

    &.--active {
        .bar {
            background-color: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                top: 0;
                transform: rotate(135deg);
            }
        }
    }
}

.scroll-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: $main-cl;
    border: 1px $main-cl solid;
    border-radius: 4px;
    cursor: pointer;
    z-index: 98;
    overflow: hidden;
    transition: all .3s ease;
    @include hidden();

    &.--active {
        @include visible();
    }

    img {
        @include pos-mid;
        filter: brightness(0) invert(1);
    }

    &:hover {
        opacity: .8;
    }
}
