.footer {
    background-color: $w-cl;
    margin-top: auto;
    .logo {
        min-width: 170px;
        margin: auto;
    }

    .test {
        width: 100%;
        height: 500px;
        background-color: wheat;
    }
}

#footer {
    display: block;
    clear: both;
    text-align: left;
    margin-top: auto;

    address {
        padding: 14px 0;
        text-align: center;
        color: #92d4e1;
        background: #004870;
        font-size: 11px;
        letter-spacing: 0.005em;
    }
}


