#header {
    background: transparent;
    padding: 25px 0;
    width: 100%;
    transition: all .3s ease;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    h1{
        font-size: 20px;
    }
}


