.tt-14 {
	font-size: 14px;
}
.tt-12{
	font-size: 12px;
}
.t-center {
	text-align: center;
}
.t-left {
	text-align: left;
}
.t-right {
	text-align: right;
}
.t-justify {
	text-align: justify;
}
.t-uppercase {
	text-transform: uppercase;
}
.t-capitalize {
	text-transform: capitalize;
}
.f-italic{
	font-style: italic;
}
.f-bold {
	font-weight: bold;
}
.f-medium {
	font-weight: 500;
}
.f-light {
	font-weight: 300;
}
.f-normal{
    font-weight: normal;
}
