// Colors
$main-cl: wheat;
$b-cl: #000;
$w-cl: #fff;

// Font
$fz-base: 10px;
$fz-body: 14px;
$lh-body: 1.4;
$font-body: 'Noto Sans JP', sans-serif;

// Base
$max-width:100%;
$inner-full-width: 1920px;
$inner-width: 1200px;
$padding: 15px;

